---

##### Checking that prerequisites are satisfied
- block:
    - import_tasks: check-prereqs.yml
  when:
    - cloud == "azure"
    - action == "provision-infra"

##### Tasks for a IPI CONNECTED Installation
- block:
    - import_tasks: azure-infra.yml
    - import_tasks: download.yml
    - import_tasks: create-config.yml
    - import_tasks: install.yml
    - import_tasks: print-info.yml
  when:
    - cloud == "azure"
    - mode == "public"

##### ================================================

##### Tasks for a IPI PRIVATE/DISCONNECTED Installation

### Private/Disconnected Install of Infrastructure in Azure
- block:
    - import_tasks: azure-infra-private.yml # Azure Vnets / Subnets
    - import_tasks: azure-bastion-infra.yml # Bastion Install
  when:
    - cloud == "azure"
    - mode == "private" or mode == "disconnected"
    - action == "provision-infra"

### Adding the Azure Private only for Private Installs and Egress Modes Azure firewall
- block:
    - import_tasks: azure-infra-firewall.yml        # Adding the Azure Firewall
  when:
    - cloud == "azure"
    - mode == "private" or mode == "disconnected"
    - egress == "firewall"
    - action == "provision-infra"

### Adding the Azure Private only for Private Installs and Egress Modes Azure NAT Gateway
- block:
    - import_tasks: azure-infra-nat-gateway.yml        # Adding the Azure NAT Gateway
  when:
    - cloud == "azure"
    - mode == "private" or mode == "disconnected"
    - egress == "natgateway"
    - action == "provision-infra"

### Private/Disconnected Azure Login/Creds and Bastion Packages
- block:
    - import_tasks: bastion-azure-login.yml
    - import_tasks: bastion-packages.yml
  when:
    - cloud == "azure"
    - mode == "private" or mode == "disconnected"
    - action == "prepare-bastion"

### Private Installation using mode=xxx as Outboundtype (default Proxy)
- block:
    - import_tasks: download.yml
    - import_tasks: create-config.yml
  when:
    - cloud == "azure"
    - mode == "private"
    - action == "prepare-bastion"

### Disconnected installation using Mirror Registry
- block:
    - import_tasks: bastion-registry.yml
    - import_tasks: download.yml
    - import_tasks: bastion-mirror.yml
    - import_tasks: create-config.yml
  when:
    - cloud == "azure"
    - mode == "disconnected"
    - action == "prepare-bastion"

### Installation of the Openshift Cluster
- block:
    - import_tasks: install.yml
    #- import_tasks: print-info.yml
  when:
    - cloud == "azure"
    - action == "install"
    - mode == "private" or mode == "disconnected"
